<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Reqres.Test.UnsuccessfulLoginTest"/>
      <class name="com.Reqres.Test.CoopsAuthentication"/>
      <class name="com.Reqres.Test.RegisterUserTest"/>
      <class name="com.Reqres.Test.UpdateUser"/>
      <class name="com.Reqres.Test.LoginApiTest"/>
      <class name="com.Reqres.Test.DeleteUserTest"/>
      <class name="com.Reqres.Test.GetSingleUser"/>
      <class name="com.Reqres.Test.CreateTest"/>
      <class name="com.Reqres.Test.GetListOfUserTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
